{% extends 'blog/base.html' %}

{% block content %}

{% if form.errors %}
<div class="alert alert-danger" role="alert">Your username and password didn't match. Please try again.</div>
{% endif %}

{% if next %}
{% if user.is_authenticated %}
<div class="alert alert-danger" role="alert">Your account doesn't have access to this page. To proceed,
  please login with an account that has access.</div>
{% else %}
<div class="alert alert-info" role="alert">Please login to see this page.</div>
{% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
  {% csrf_token %}


  <form>
    <div class="form-group">
      <label for="login">{{ form.username.label_tag }}</label>
      <input type="text" placeholder="Enter username" name="username" class="form-control" aria-describedby="username">
    </div>
    <div class="form-group">
      <label for="password">{{ form.password.label_tag }}</label>
      <input type="password" name="password" class="form-control" value="{{ password }}" placeholder="Password">
    </div>
    <button type="submit" value="ligin" class="btn btn-primary">Submit</button>
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<div class="text-faded"><a href="{% url 'password_reset' %}">Lost password?</a></div>

{% endblock %}